<!DOCTYPE html>
<html lang="en" ng-app="module">
  <head>
    <title>TheNetNinja Angular Playlist</title>
    <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="app/lib/angular.min.js"></script>
    <script src="app/app.js"></script>
  </head>
  <body>
    <div ng-controller="myController">
      <input type="text" ng-model="search"/>
      <ol>
        <li ng-repeat="item in list | orderBy:'displayName' | filter:search | uppercase">
          {{item.displayName}} - {{item.rate | currency:'₹'}}
          <p>
            {{item.description}}
          </p>
        </li>
      </ol>
    </div>
  </body>
</html>
