<!DOCTYPE html>
<html lang="en" ng-app="module">
  <head>
    <title>TheNetNinja Angular Playboys</title>
    <link href="/content/css/styles.css" rel="stylesheet" type="text/css" />
    <script src="/app/lib/angular.min.js"></script>
    <script src="/app/app.js"></script>
  </head>
  <body>
    <ng-include src="'header.html'"></ng-include>
    <div class="content">
      <div ng-controller="myController">
        <button ng-click="order='name'">Order by name</button>
        <button ng-click="order='rate'">Order by rate</button>
        <input type="text" placeholder="Search for an agent" ng-model="search"/>
        <ol>
          <li ng-repeat="boy in boys | orderBy: order | filter:search" ng-show="boy.available">
            <div class="remove" ng-click="removeBoy(boy)">X</div>
            <h3>{{boy.name}} - {{boy.rate | currency:'₹'}}</h3>
            <span style="color:{{boy.belt}}">
              {{boy.belt}}
            </span>
          </li>
        </ol>
        <form ng-submit="addBoy()">
          <input type="text" placeholder="Enter name" ng-model="newBoy.name">
          <input type="text" placeholder="Enter rate" ng-model="newBoy.rate">
          <input type="text" placeholder="Enter belt color" ng-model="newBoy.belt">
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
